body {
	background: #ccc;
	font-family: helvetica, arial, serif;
	font-size: 13px;
	text-align: center;
}

H1 {
	text-transform: uppercase;
}

.left {
	align: left;
}

.wrap {
	display: inline-block;
	margin-top: 40px;
}

a {
	text-decoration: none;
	color: #fff;
	display: block;
}

ul {
	list-style: none;
	position: relative;
	text-align: left;
}

li {
	float: left;
}


ul:after {
	clear: both;
}

ul:before, ul:after {
	content: " ";
	display: table;
}

nav {
	position: relative;
	background: #2B2B2B;
	text-align: center;
	letter-spacing: 1px;
}


ul.primary li a {
	display: block;
	padding: 20px 30px;
	border-right: 1px solid #3D3D3D;
}

ul.primary li:last-child a {
	border-right: none;
}

ul.primary li a:hover {
	color: #000;
}


ul.primary li:hover a {
	background: #fff;
	color: #666;
	text-shadow: none;
}

ul.primary li:hover>a {
	color: #000;
}

@media only screen and (max-width: 600px) {
	
	.wrap {
		width: 100%;
		margin-top: 0px;
	}
	li {
		float: none;
	}
	ul.primary li:hover a {
		background: none;
		color: #8B8B8B;
		text-shadow: 1px 1px #000;
	}
	ul.primary li:hover ul {
		display: block;
		background: #272727;
		color: #fff;
	}
}

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

table a:visited {
	color: #999999;
	font-weight: bold;
	text-decoration: none;
}

table a:active, table a:hover {
	color: #bd5a35;
	text-decoration: underline;
}

table {
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 12px;
	background: #eaebec;
	margin: 20px;
	border: #ccc 1px solid;
	
}

table>thead>tr>th {
	text-transform: uppercase;
	padding: 21px 25px 22px 25px;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;
	background: #ededed;
	
}

table th:first-child {
	text-align: left;
	padding-left: 20px;
}

table.list tr {
	text-align: center;
	padding-left: 20px;
}

table.formtable tr {
	text-align: left;
	padding-left: 20px;
}

table.formtable tr.submit {
	text-align: right;
	padding-left: 20px;
}

table.list td:first-child {
	text-align: left;
	padding-left: 20px;
	border-left: 0;
}

table.formtable td:first-child {
	text-align: right;
	padding-left: 20px;
	border-left: 0;
}

table td {
	padding: 18px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
	
}

table tr.even td {
	background: #f6f6f6;
	
}

table tr:last-child td {
	border-bottom: 0;
}

table tr:hover td {
	background: #f2f2f2;
	}

.comments {
	width: 100%;
	text-align: center;
	border-top: 1px solid #333;
	margin-top: 20px;
	padding-top: 40px;
}

.comment {
	clear: both;
	padding-top: 20px;
	margin: 20px auto;
	width: 50%;
	background-color: #eee;
	border-top: 2px solid #333;
	color: #333;
	display: inline-block;
}

header {
	font-size: 1.3em;
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
}

header .voted {
  color: #777;
}